[submodule "ArduinoCore-avr"]
	path = ArduinoCore-avr
	url = git@github.com:arduino/ArduinoCore-avr.git
[submodule "SparkFun_Micro_OLED_Arduino_Library"]
	path = SparkFun_Micro_OLED_Arduino_Library
	url = git@github.com:sparkfun/SparkFun_Micro_OLED_Arduino_Library.git
[submodule "RF24"]
	path = RF24
	url = git@github.com:nRF24/RF24.git
[submodule "Adafruit_BusIO"]
	path = Adafruit_BusIO
	url = git@github.com:adafruit/Adafruit_BusIO.git
[submodule "Adafruit-GFX-Library"]
	path = Adafruit-GFX-Library
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "Adafruit_SSD1306"]
	path = Adafruit_SSD1306
	url = git@github.com:adafruit/Adafruit_SSD1306.git
