[submodule "ArduinoCore-avr"]
	path = ArduinoCore-avr
	url = git@github.com:arduino/ArduinoCore-avr.git
[submodule "SparkFun_Micro_OLED_Arduino_Library"]
	path = SparkFun_Micro_OLED_Arduino_Library
	url = git@github.com:sparkfun/SparkFun_Micro_OLED_Arduino_Library.git
